@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600");
@import url("https://fonts.googleapis.com/css?family=La+Belle+Aurore");
@import url("https://fonts.googleapis.com/css?family=Exo:700,800");
body {
    background-color: yellowgreen;
    font-family: "Titillium Web", sans-serif;
}

body ::selection {
    background: #d8be68;
}

.page {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}

.container {
    width: 100%;
    height: 90%;
    min-height: 566px;
    position: absolute;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.tags {
    color: black;
    position: absolute;
    bottom: 0;
    left: 90px;
    font-size: 20px;
    font-family: "La Belle Aurore", cursive;
}

.top-tags {
    bottom: auto;
    top: 80px;
}

.home-page .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
}

.home-page .text-zone img {
    width: 25px;
}

.home-page .text-zone a {
    font-weight: 300;
}

.home-page h1 {
    color: black;
    font-size: 53px;
    line-height: 48px;
    margin: 0;
    font-family: "Exo", sans-serif;
    font-weight: normal;
}

.home-page h1::before {
    content: "<h1>";
    font-family: "La Belle Aurore", cursive;
    color: #10364e;
    font-size: 18px;
    position: absolute;
    margin-top: -35px;
}

.home-page h1::after {
    content: "<h1/>";
    font-family: "La Belle Aurore", cursive;
    color: #10364e;
    font-size: 18px;
    position: absolute;
    margin-top: 18px;
    margin-left: 20px;
    -webkit-animation: myanim2 1s 3s backwards;
    animation: myanim2 1s 3s backwards;
}

.home-page h2 {
    color: black;
    margin-top: 30px;
    font-weight: bold;
    font-size: 11px;
    font-family: "Titillium Web", sans-serif;
    letter-spacing: 3px;
    -webkit-animation: myanim2 1s 2.5s backwards;
    animation: myanim2 1s 2.5s backwards;
}

.home-page .flat-button {
    color: black;
    font-size: 11px;
    letter-spacing: 3px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    padding: 6px 10px;
    border: 3px solid #10364e;
    margin-top: 40px;
    float: left;
    border-radius: 4px;
    opacity: 0;
}

.home-page .flat-button:hover {
    background: yellowgreen;
    color: black;
}

.home-page .blast {
    opacity: 0;
    display: inline-block;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.home-page .blast:hover {
    color: black;
}